*{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body{
  font-size: 32px;
}

.container{
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.title{
  position: relative;
  font-size: 48px;
}

.marker{
  width: 100%;
  height: 35%;
  background-color: gray;
  position: absolute;
  bottom: 5%;
  z-index: -1;
}

.mb-20 {
  margin-bottom: 20px;
}

.start{
  background-color: #333;
  color: white;
  padding: 4px 60px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
.start:hover{
  opacity: 0.5;
}

.quetion {
  color: gray;
}

.clear{
  color: skyblue;
}

.typeform{
  text-align: center;
  outline: none;
  border: none;
}

.typewrapper{
  border-bottom: 1px solid gray;
}

.gauge{
  height: 12px;
  transition: all .5s ease;
}
.gaugewrapper{
  border: 1px solid;
  height: 12px;
}